{% extends 'base.html' %} {% block main_content %}
    <!--home page information-->
    <div class="content">
        <h2>Home</h2>
        <h4>Optimisation and Logistics at the University of Adelaide</h4>
        <p>We research artificial intelligence and optimisation methods that are frequently used to solve hard and complex optimization problems. These include linear programming, branch and bound, genetic algorithms, evolution strategies, genetic programming,
            ant colony optimization, particle swarm optimization, local search, and other related approaches.
        </p>
        <p>
            In our research related to real-world applications, we pay particular attention to constraint-handling techniques, multi-objectivity, and dynamic environments. These aspects are always present in large-scale industrial problems, in particular, they are
            important in integrated planning and scheduling decision-support systems which relate to supply-chain operations. Furthermore, we focus on the development of new algorithms for applications in the area of renewable energy and the use of artificial
            intelligence and optimisation methods in the area of software engineering.
        </p>
        <p>
            In our theoretical research we analyze how bio-inspired computing methods and other search methods from the area of artificial intelligences work and show in a rigorous way how they are able to deal with different types of problems. Our theoretical research
            builds up a theory of bio-inspired computing and related search techniques that helps to develop new effective approaches based on theoretical insights. We also investigate problems in the areas of mechanism design and social choice and develop
            new approaches for dealing with game theoretic problems. Furthermore, we use artificial intelligence for the creation of digital art.
        </p>
        <h4>Contact information</h4>
        <p>School of Computer Science<br> Ingkarni Wardli Building<br> The University of Adelaide<br> SA 5005<br>
            AUSTRALIA
            <br>
            <a href="mailto:secretary@cs.adelaide.edu.au" target="_top">Email</a>
            <br> Telephone: +61 8 8313 5586<br> Facsimile: +61 8 8313 4366
        </p>
    </div>

{% endblock %}